body {
    height: 100vh;
    margin: 0;
    background-color: rgb(212, 229, 245);
}

#game-canvas {
    background: white
}

#messager{
    border: 1px solid rgb(128, 170, 206);
    height: 600px;
    width: 300px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
}
#messages{
    background: aliceblue;
    height: calc(100% - 23px);
    overflow-y: scroll;
}
.message{
    
}
#controls{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#textInput{
    width: calc(100% - 100px);
}
#btn{
    width: 80px;
    float: right;
}
#usernamePrompt{
    position: absolute;
    top: 200px;
    left: calc(50% - 125px);
    width: 250px;
}
#usernameControls{
}
#usernameInput{
    width: calc(100% - 100px);
}
#usernameBtn{
    width: 80px;
    float: right;
}
